@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FF5A5F;
  --secondary-color: #00A699;
  --text-color: #484848;
  --text-color-secondary: #767676;
  --tertiary-color: #645CBB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  height: 80%;
  background: rgb(240, 240, 240)
}

::-webkit-scrollbar-thumb {
  background: #FF5A5F;
  border-radius: 10px;
}


.p-autocomplete {
  &-panel {
    @apply mt-1 bg-white rounded-lg shadow-lg border border-gray-200;
  }

  &-items {
    @apply py-1;
  }

  &-item {
    @apply px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}