::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  height: 80%;
  background: rgb(240, 240, 240);
}

::-webkit-scrollbar-thumb {
  background: #ff5a5f;
  border-radius: 10px;
}

.p-autocomplete {
  &-panel {
    @apply mt-1 bg-white rounded-lg shadow-lg border border-gray-200;
  }

  &-items {
    @apply py-1;
  }

  &-item {
    @apply px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer;
  }
}

.p-card .p-card-body {
  padding: 0;
}
